In [1]:
import pandas as pd

df = pd.read_csv("D:/c6590d0cf119e87c39e31c21a9c0f3a8-4a8e3da267a0c1f0d650901d8295a5153bde8b21/PlayTennis.csv")
df = pd.read_csv("D:/c6590d0cf119e87c39e31c21a9c0f3a8-4a8e3da267a0c1f0d650901d8295a5153bde8b21/PlayTennis.csv")

df
# problem 1
# Outlook=sunny,twmp=hot,Humidity=High,wind=weak

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

In [2]:
# problem 1
# Outlook=sunny,twmp=hot,Humidity=High,wind=weak
# play Yes or No

In [3]:
# Solution

# P(Yes| sunny,hot,high,weak)=P(Yes)* P(Sunny|Yes)* P(Hot|Yes)* P(High|Yes)*P(Weak|Yes)
# P(No| sunny,hot,high,weak)=P(No)* P(Sunny|No)* P(Hot|No)* P(High|No)*P(Weak|No)
# compare and decide using the maximum a posterior rule

In [4]:
# P(Yes)
# P(No)

In [5]:
df['Play Tennis'].value_counts()

Play Tennis
Yes    9
No     5
Name: count, dtype: int64

In [6]:
P_Yes=9/14
P_No=5/14
print(P_Yes)
print(P_No)

0.6428571428571429
0.35714285714285715

In [7]:
# Outlook

pd.crosstab(df['Outlook'],df['Play Tennis'])

Play Tennis  No  Yes
Outlook
Overcast      0    4
Rain          2    3
Sunny         3    2

In [8]:
Prob_overcast_No= 0
Prob_Rain_No=2/5
Prob_Sunny_No=3/5

Prob_Overcast_Yes=4/9
Prob_Rain_Yes=3/9
Prob_Sunny_Yes=2/5

In [9]:
pd.crosstab(df['Temperature'],df['Play Tennis'])

Play Tennis  No  Yes
Temperature
Cool          1    3
Hot           2    2
Mild          2    4

In [11]:
Prob_cool_No= 1/5
prob_Hot_NO=2/5
prob_Mild_No=2/5

prob_cool_yes=3/9
prob_hot_yes=2/9
prob_mild_yes=4/9

In [12]:
pd.crosstab(df['Humidity'],df['Play Tennis'])

Play Tennis  No  Yes
Humidity
High          4    3
Normal        1    6

In [13]:
prob_high_No=4/5
prob_Normal_No=1/5

prob_high_Yes=3/9
prob_normal_Yes=6/9

In [14]:
pd.crosstab(df['Wind'],df['Play Tennis'])

Play Tennis  No  Yes
Wind
Strong        3    3
Weak          2    6

In [15]:
prob_strong_no=3/9
prob_weak_no=2/9

prob_strong_Yes=3/9
prob_weak_Yes=6/9

In [16]:
# Outlook=sunny,twmp=hot,Humidity=High,wind=weak

Prob_yes=P_Yes*Prob_Sunny_Yes*prob_hot_yes*prob_high_Yes*prob_weak_Yes

In [17]:
Prob_yes

0.012698412698412698

In [18]:
Prob_No=P_No*Prob_Sunny_No*prob_Hot_NO*prob_high_No*prob_weak_no

In [19]:
Prob_No

0.015238095238095238

In [21]:
Prob_Plus=Prob_yes+Prob_No
Prob_Plus

0.027936507936507936

In [22]:
Prob_yes/Prob_Plus

0.45454545454545453

In [23]:
Prob_No/Prob_Plus

0.5454545454545454

In [24]:
# Probability No > Prob Yes